<p><%= @recipe.name %></p>
<p><%= @recipe.ingredients %></p>
<p><%= @recipe.cook_time %></p>
<form action="/recipes/<%= @recipe.id %>/edit" method="post">
  <input type="submit" value="edit">
</form><%=  %>
<form action="/recipes/<%= @recipe.id %>/delete" method="post">
  <input type="submit" value="delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
</form>